@import "tailwindcss";

@theme inline {
  --font-hk: var(--font-hk);
  --font-satoshi: var(--font-satoshi);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  @apply overscroll-none
}

body {
  @apply w-screen min-h-dvh m-0 p-0 bg-zinc-950 text-zinc-100 font-hk text-base font-normal;
}
